<% if @user.errors %>
<% @user.errors.full_messages.each  do |message| %>
    <p class="badge badge-danger" style="background: #BD1E1E;"><%= message %></p>
                    <% end %>
                <% end %>
                </div>
                
            
                <h1 id="new-user-header">Login</h1>

                <div class="form-group">
                    <%= form_for @user, controller: 'users', action: 'update' do |f| %>
                    <label for="username">Username</label><br>
                    <%= f.text_field :username, class: "form-control" %>
                    <br>
                    <label for="password">Password</label><br>
                    <%= f.password_field :password, class: "form-control" %>
                    <br>
                    <%= f.submit "Submit" %>

                Or <%= link_to(controller: 'users', action: 'new') {'Sign up'} %>
                    <% end %>