
<br>
<br>
<div id="edit-profile-container1">
<div id="edit-profile-container2">
    <div id="edit-text-container">
    <i class="fas fa-user-edit fa-3x"></i>
    <h1>Edit Page for <%= current_user.username %></h1>
    </div>
    <div class="form-group">
            <%= form_for @user do |f| %><br>
            <%= f.label :username %><br>
            <%= f.text_field :username%><br>
            <%= f.label :password %><br>
            <%= f.password_field :password %><br>
            <%= f.label :new_password_confirmation %><br>
            <%= f.password_field :password_confirmation%><br>
            <%= f.label :email %><br>
            <%= f.email_field :email %><br>
            <%= f.label :city %><br>
            <%= f.text_field :city %><br>
            <%= f.label :state %><br>
            <%= f.text_field :state%><br>
            <%= f.label :bio %><br>
            <%= f.text_field :bio%><br>
            <br>
            <%= f.submit "Submit" %>
        <% end %>
    </div>
</div>
</div>