<% if @search_style %>
<div id="home_searched">
  <div class="landing-text-searched">
    
<% else %>
<div id="home">
    <div class="landing-text">
  <% end %>
  <br>
    <h3 class="lead">Find your Product </h3>

    <%= form_tag(home_path, method: "get", class: 'form-group') do %>
      <%= text_field_tag(:search, params[:search], placeholder: 'Enter your product', class: 'search-input') %>
      <%= submit_tag "Find product", class: 'btn btn-primary'%>
    <% end %>

   </div> 
 </div>
 <%= form_tag chemiskins_path(method: :post) do %>
    <div class="results-container ">
        <!-- Header which is the Category -->
        <% if @search_style %>
        <% @products.each do |product| %>
          <div id="search-result">
            <h2 id="product-name"><%= link_to product.name, product_path(product) %></h2>
          <ul>
              <li class="search-links">
                  <i class="fas fa-beer fa-2x"></i> <%= product.product_type.titleize %>
              </li>
              <% unless product.category.empty? || product.name.empty? %>
              <li class="search-links">
                  <i class="fas fa-map-marked-alt fa-2x" style="padding-right: 2%;"></i><%= link_to product.name, product.category %>
              </li>
              <% end %>
              
              <br>
              <div id="search-results-buttons-container" class="row">
                
                <div id="home-more-info" class="col">
                  <%= link_to "More Info", product_path(product), class: "btn btn-secondary" %>
                </div>
    
                <div id="home-cemiskin" class="col">
                  <% if !current_user %>
                  <p><%= link_to "to add this product please login", login_path %></p>
                  <% else %>
                  <% if product.users.include?(current_user) %>
                    <p><strong><%= link_to "you already have this product!", profile_path %></strong></p>
                 

                    <label class="checkbox-label">
                      <input class="toggle-input" type="checkbox" name="chemiskin[]" id="chemiskin_" value=<%="#{chemiskin.id}"%>>
                      <span class="label-text"
                      style="float:left;">
                        <%= "Add" %>
                      </span>
                    </label>
                  <% end %>
                  <% end %>
                </div>
    
              </div>
             <div>
                     
               </div>
          </ul>
          </div>
      <% end %>
      
      
     
      
    </div>
    
