<div id="product-show-page-container" class="container-fluid" style="border:10px solid white;">
<div class="row" style="border: 8px solid black; border-radius: 10px;">
    <div class="col-4" style="border: 10px solid white;">
    </div>
        <div class="col-8" style="border: 10px solid white;">
        <h1><%= @product.name %></h1>
        <%= image_tag @product.img_url, :size => '260x180' %>
        <div><% if current_user %>
        <%= link_to "Create a Review", new_review_path(@user), class:"button"%>
        <% else %>
        <%= link_to "Sign up or Login to review",login_path(@user),class:"button"%>
        <% end %>
        </div>
        <p>
            <i class="fas fa-map-marked-alt"></i>
            <%= @product.description %>
        </p>
    

