<!DOCTYPE html>
<html>
  <head>
    <title>Skincare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- navbar for all pages  -->
  <!-- "navbar fixed-top navbar-light bg-light" -->
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <a href="/" class="navbar-brand"><i class="fas fa-beer" ></i>CrystalClear</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li>
          <a href="/" class="nav-link">Search</a>
        </li>
  <body>
  <%  if @user %>
   <%= link_to "Log out", logout_path,  :method => :post %>
    <h1> <%= @user.username %> </h1>
  <% else %>
    <%= link_to "Log in",  login_path %>
    <%= link_to "Sing up",  new_user_path %>

  <% end %>
<br>
  <% if flash[:errors]  %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>

  <!-- FOOTER FOR ALL PAGES  -->
</body>
</html>
  
 



