<!DOCTYPE html>
<html>
  <head>
    <title>Skincare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  
    </head>

  <body>
  <nav>
  <h1>ChemiSkin</h1>  
  <% if current_user %>
  <%= link_to "Welcome #{current_user.username}!", profile_path, style:"color:black;"%><br>
  <%= link_to "Log Out",({controller: 'sessions', action: 'destroy', method: 'post'}), method: "POST", class: "nav-link" %>
  <% else %>
  <%= link_to "Login or Sign Up", login_path%>
  <% end %>

  <div> <%= link_to "Ingredients", ingredients_path%></div>
  <div> <%= link_to "Products", products_path%></div>

  </nav>
    <main><%= yield %></main>
  </body>
</html>
